//- controls/pin-active-state.pug

mixin pin-active-state(line)
  if line.activeState == 1
    .tag.is-info Active High
  else if line.activeState == 2
    .tag.is-success Active Low
  else
    .tag.is-warning Unknown