mixin gpio-chip(name)
  .card 
    .card-header 
      .card-header-title= name
    .card-content 
      .content 
    .card-footer 
      .card-footer-item
        a(href=`/chip/${name}`) View details