//- components/gpio-chip.pug
mixin gpio-chip(chip)
  .card
    .card-header 
      .card-header-title= chip.name
    .card-content 
      .content 
        p #{chip.numberOfLines} lines
    .card-footer 
      .card-footer-item
        a(href=`/chip/${chip.name}`) View details