//- pages/index.pug

extends ../layouts/base

include ../components/gpio-chip

block content
  .section
    h1 Device info
    .is-flex.is-flex-wrap-wrap.is-gap-4
      each  chip in chips
        .is-flex
          +gpio-chip(chip)  
  