//- layouts/base.pug
doctype html 
hrml 
  head 
    link(rel='stylesheet', href='/bulma/bulma.css')/
    script(src='/htmx.org/htmx.js')
    title Device UI
    block head
  body.content 
    block content
    footer
      .content.has-text-centered
        p.
          Device UI - powered by 
          #[a(href='https://node-libgpiod.sombriks.net') node-libgpiod ],
          #[a(href='https://htmx.org') htmx ] and
          #[a(href='https://bulma.io') Bulma].